* {
    font-family: 'Lato',sans-serif;
}

#sample{
    
    z-index:999;
}

body {
    margin: 0;
    padding: 0;
    background: #fff;
}
#marginDiv{
    width:100%;
    height:137px;
}
.head {
    height: 100px;
    width: 100%;
    background-color: white;
    
}
.head>img{
    height: 100%;
    width: 28%;
    float: left;
}
.contain_elements{
    height: 40px;
    width: auto;
    float: right;
    color: #b53788;
    margin-right: 110px;
    margin-top: 15px;
}

#contain_elements_text{
    float: left;
    margin-top: 14px;
    margin-left: 5px;
    font-size: 12px;
    font-weight: 540;
}
#contain_elements_text:hover{
    cursor: pointer;
    text-decoration: underline;
}

#contain_signin{
    height: 40px;
    width: 140px;
    float: right;
    text-align: center;
    border-radius: 8px;
    transition: .3s;
}


#contain_wishlist{
    height: 40px;
    width: 120px;
    float: right;
    text-align: center;
    border-radius: 8px;
    transition: .3s;
}
#contain_bag{
    height: 40px;
    width: 100px;
    float: right;
    text-align: center;
    border-radius: 8px;
    transition: .3s;
}

#contain_bag:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#contain_wishlist:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#contain_signin:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.head input {
    float: left;
    margin-top: 30px;
    margin-left: 130px;
    font-size: 14px;
    border: 2px solid #623381;
    padding-left: 1%;
    height: 38px;
    width: 380px;
    border-radius: 5px;
} 
::placeholder{
    color: #623381;
}
.contain_rs{
    text-align: center;
    justify-content: center;
    display:grid ;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    float: right;
    height: 15px;
    width: auto;
    margin-right: 150px;
    margin-top: 14px;
}

#rs{

    font-size: 12px;
    color: #b53788;
    font-weight: bold;
}
#rs:hover{
    text-shadow: 0 0 1px #b53788;
     cursor: pointer;
}

#tracking{
    font-size: 12px;
    color: #b53788;
    font-weight: bold;
}

#tracking:hover{
    text-shadow: 0 0 1px #b53788;
    cursor: pointer;
}

.nav ul {
    list-style: none;
    background: #623381;
    text-align: center;
    padding: 0%;
    margin: 0;
}

.nav li {
    display: inline-block;
}

.nav a {
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    width: 100px;
    display: block;
    padding: 10px;
    font-size: 14px;
    font-weight: 540;
}

.nav a:hover {
    background: white;
    text-decoration: underline;
    color: #623381;
    transition: 0.2s;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.page-title {
    color: #000;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 6px;
    margin: 0px;
    text-transform: uppercase;
}

.checkout + hr{
    width:75%;
    background-color:rgba(128, 128, 128, 0.2)
}
.checkout > div, .signout > div{
    margin-bottom:10px;
}
.main {
    background-color: white;
    font-family: Lato, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    color: #2c2c2c;
}

.country {
    display: flex;
    background-color: white;
    height: 62px;
    margin-bottom:20px;;
}

#js2 + hr{
    background-color:rgba(128, 128, 128, 0.2);
    width:98%;
    margin:10px auto !important;
}

select {
    border-width: 3px;
    height: 22px;
    width: 21px;
    margin-top: 22px;
    border: none;
}

.p {
    margin-top: 24px;
}

.shippingfeebar {
    background-color: #e5e5e5;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 0;
    width: 50%;
}

.shippingamt {
    background-color: #d497f0;
    height: 10px;
    width: 20%;
}

j #js img {
    height: 100px;
}

.div_final {
    display: flex;
    line-height: 0.9em;
}

.demo2 {
    width: 515px;
    min-height: 8px;
    padding-left: 24.5px;
    padding-right: 7.5px;
}

.country > h2{
    font-size:22px;
}

.country > img{
    margin-top: 16px !important;;
}

.head h1{
    padding: 30px;
}

.demo2 p{
    padding:5px;
    line-height:20px;
    margin:0px;
}

.demo4 {
    letter-spacing: .09em;
    font-family: Lato, sans-serif;
    font-weight: bold;
    margin-left: 85px;
    margin-top: 23px;
}

#js h2 {
    letter-spacing: 0.1em;
    font-family: Lato, sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.container {
    background-color: white;
    width: 60%;
    margin-left: 2%;
    padding-left: 2%;
}

.img1 {
    height: 100px;
}

.part3-1 {
    display: flex;
}

.part3-1 h3 {
    width: 85.666667%;
}

h3 {
    font-size:20px;
}

.div3, .div4 {
    display: flex;
    font-size:14px;
}

.div3 p {
    margin-top: 0%;
}

.div3 div {
    width: 85.666667%;
}

.div5 {
    display: flex;
    justify-content: flex-end;
}

.div5 p {
    margin-top: 0%;
}



.div4 div {
    width: 85.666667%;
}

.inr {
    margin: 0px
}

.div1 {
    margin-right: 6%;
}

.span1 {
    font-size: 10px;
    font-weight: lighter;
}

#js3 {
    display: flex;
    justify-content: flex-end;
}

.final_repo {
    margin-right: 69%;
}

.final_repo1 {
    margin-right: 6%;
}

.finaltouch {
    display: flex;
    background-color: #F5F5F5;
}

.container1 {
    height: 274px;
    width: 20%;
    text-align: center;
    padding-top: 4%;
    margin-top: 6%;
    margin-left: 3%;
    background-color: white;
}

.main2 {
    line-height: 1.3;
}

.checkout {
    font-size: 22px;
    margin-bottom: 50px;
}

.signout {
    font-size: 22px;
    margin-top: 50px;
}

button {
    background-color: #623380;
    font-weight: bold;
    font-size: 18px !important;
    text-align: center;
    color: #fff;
    border-radius: 0;
    text-transform: uppercase;
    padding: 8px;
    min-width: 60%;
}

#ImportantNotices {
    background-color: #e7e7e7;
    padding: 25px;
    margin: 15px 0px;
    max-height: 205px;
    overflow-y: auto;
    font-family: Lato, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    color: #2c2c2c;
    box-sizing: border-box;
    width: 20%;
    text-align: center;
    padding-top: 4%;
    margin-top: 2%;
    margin-left: 3%;
    line-height: 2.3em;
    width: 61%;
}

#notice-content {
    padding-left: 15px;
    color: #4f4f4f;
}






























body{
    margin:0px !important;
}

.logo{
    display: flex;
    margin-top: 22px;
}
.log{
    height: 25px;
    width:25px; 
}
.img-bottle {
    width: 75px;
    height: 95px;
    background: url('https://a.cdnsbn.com/images/common/2016CommonSprite.png') -89px -381px no-repeat;
    position: absolute;
    z-index:2;
    left: 43.5%;
    margin-top: 12px;
    
}


.banner-bottle {
    float:left;
    padding-left: 120px;
    position: relative;
    font-size: 18px;
    z-index:2;
    line-height: 1em;
    padding-bottom: 10px;
}
.banner-bottle, .banner-plane {
    font-weight: 300;
    margin-top: 20px;
    margin-left:50px;
}
.img-plane {
    width: 84px;
    height: 91px;
    background: url('https://a.cdnsbn.com/images/English/shippingicon_1.png') -10px -5px no-repeat;
    position: absolute;
    left: 71%;
    margin-top: -20px;
    
    
}
.cont{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap:20px;
    color: white;
    background: url(https://a.cdnsbn.com/images/common/2016footer.jpg) center top no-repeat #702f80;
    color: #fff;
    padding: 32px 0;
    margin-top: 50px;
    letter-spacing: .09em;
    font-size: 14px;
    font-family: Lato,sans-serif;
}
    .cont h5 {
    font-size: 24px;
    margin: 5px 0 25px;
}

.first{
    margin-left: 8%;
}
.second{
    margin-left: 15%;
}
.third{
    margin-left: 21%;
    margin-top: 15px;
    font-weight: 300;
    
}
#subscribe{
    letter-spacing: .09em;
    font-size: 14px;
    font-family: Lato,sans-serif;
    
    color: #fff;
    height: 50px;
    padding: 0 10px;
    line-height: 50px;
    font-weight: 700;
}

#signup{
    height: 50px;
    font-size: 16px;
}

#js hr{
    margin:auto;
    width:96%;
    background-color:rgba(128, 128, 128, 0.2);
}

ul{
    font-size: 28px;
    text-align: left;
    font-size: 15px;
}
ul.footer-cs-shortcut li{
    border-left: 1px solid #ee2c72;
    padding-left: 20px;
    list-style: none;
}
ul.footer-cs-shortcut li {
    
    padding-right: 20px;
}
li a{
    text-decoration: none;
}
.change-currency-icon {
    width: 27px;
    height: 27px;
    background: url('https://a.cdnsbn.com/images/common/2016CommonSprite.png') -325px -478px no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.part1-child2{
    margin-left: 29%;
    margin-top: 2%;
    font-size: 22px;
     font-family: Lato,sans-serif;
}
.part1{
    display: flex;
    
   
    color: rgb(0, 0, 0);
}
.payment-imgs h6{
    margin: 0 0 15px;
    padding: 0;
    font-size: 23px;
    letter-spacing: .09em;
}
.part2-class1{
    width: 17%;
    line-height: 2.3em;
    
}
.imagep2{
    margin: 2%; 
}
.part2-class2{
    line-height: 2.3em;
    margin-left: 2%;
    margin-right: 2%;
}
.part2-class3{
    line-height: 2.3em;
    margin-left: 2%;
    margin-right: 2%;
}
.part2-class4{
    line-height: 2.3em;
    margin-left: 2%;
    margin-right: 2%;
}
.part2-class5{
    line-height: 2.3em;
    margin-left: 2%;
    margin-right: 2%;
}
.iphoneapp {
    background: url('https://a.cdnsbn.com/images/common/2016CommonSprite.png') -133px -595px;
}
.androidapp {
    background: url('https://a.cdnsbn.com/images/common/2016CommonSprite.png') -235px -597px;
}
 .iphoneapp {
    width: 1px;
    padding-top: 40px;
    padding-left: 100px;
    margin-left: -2px;
    margin-bottom: -15px;
    text-indent: -9999px;
    line-height: 0;
    font-size: 0;
    color: transparent;
}
.androidapp {
    width: 1px;
    padding-top: 40px;
    padding-left: 100px;
    margin-left: -2px;
    margin-bottom: -15px;
    text-indent: -9999px;
    line-height: 0;
    font-size: 0;
    color: transparent;
}
.part2{
    display: flex;
    justify-content: center;
}
hr.pink {
    border-color: #ee2c72;
    border-width: 5px;
    margin: 30px 0;
    width: 82%;
}
.light{
    font-weight: 300;
    font-size: 11px;
}
.last{
    margin-left: 12%;
}
.cont2{
    background-color: #52246d;
    color: #fff;
    padding: 30px 0;
}
.whit{
    color: white;
}

.inputEmail{
    height:25px;
    border-radius:5px;
}
#social-media-links{
    margin-top:20px;
}
.social-media-icon{
    width: 31px;
    height:31px;
    padding-top: 51px;
    vertical-align: middle;
    margin-right: 20px;
    text-indent: -9999px;
    line-height: 0;
    font-size: 0;
    color: transparent;
    
    text-decoration: none;
    display: inline-block;
    padding: 0px 0px 0px 0px;

    
    box-sizing: border-box;
}

.btnFacebook, .btnFacebook:link {
    background: url(https://a.cdnsbn.com/images/common/2016CommonSprite.png) -36px -478px no-repeat;
}

.btnTwitter, .btnTwitter:link {
    background: url(https://a.cdnsbn.com/images/common/2016CommonSprite.png) -213px -478px no-repeat;
}

.btnPinterest, .btnPinterest:link {
    background: url(https://a.cdnsbn.com/images/common/2016CommonSprite.png) -107px -478px no-repeat;
}

.btnInstagram, .btnInstagram:link {
    background: url(https://a.cdnsbn.com/images/common/2016CommonSprite.png) -142px -478px no-repeat;
}

.btnYoutube, .btnYoutube:link {
    background: url(https://a.cdnsbn.com/images/common/2016CommonSprite.png) -153px -112px no-repeat;
}




#userNameDisplay{
    float: left;
    margin-top: 14px;
    margin-left: 5px;
    font-size: 12px;
    font-weight: 540;
}
#userNameDisplay:hover{
  
    cursor: pointer;
    text-decoration: underline;
}