* {
    font-family: 'Lato',sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: #fff;
}
#sample{
  z-index:99;
}

#skincareContainer{
  width:100%;
  height:2320px;
}

#marginDiv{
  width:100%;
  height:137px;
}

.head {
    height: 100px;
    width: 100%;
    background-color: white;
    
}
.head>img{
    height: 100%;
    width: 28%;
    float: left;
}
.contain_elements{
    height: 40px;
    width: auto;
    float: right;
    color: #b53788;
    margin-right: 110px;
    margin-top: 15px;
}

#contain_elements_text{
    float: left;
    margin-top: 14px;
    margin-left: 5px;
    font-size: 12px;
    font-weight: 540;
}



#userNameDisplay{
    float: left;
    margin-top: 14px;
    margin-left: 5px;
    font-size: 12px;
    font-weight: 540;
}
#userNameDisplay:hover{
  
    cursor: pointer;
    text-decoration: underline;
}
#contain_elements_text:hover{
    cursor: pointer;
    text-decoration: underline;
}

#contain_signin{
    height: 40px;
    width: 140px;
    float: right;
    text-align: center;
    border-radius: 8px;
    transition: .3s;
}


#contain_wishlist{
    height: 40px;
    width: 120px;
    float: right;
    text-align: center;
    border-radius: 8px;
    transition: .3s;
}
#contain_bag{
    height: 40px;
    width: 100px;
    float: right;
    text-align: center;
    border-radius: 8px;
    transition: .3s;
}

#contain_bag:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#contain_wishlist:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#contain_signin:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.head input {
    float: left;
    margin-top: 30px;
    margin-left: 130px;
    font-size: 14px;
    border: 2px solid #623381;
    padding-left: 1%;
    height: 38px;
    width: 380px;
    border-radius: 5px;
} 
::placeholder{
    color: #623381;
}
.contain_rs{
    text-align: center;
    justify-content: center;
    display:grid ;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    float: right;
    height: 15px;
    width: auto;
    margin-right: 150px;
    margin-top: 14px;
}

#rs{
    font-size: 12px;
    color: #b53788;
    font-weight: bold;
}
#rs:hover{
    text-shadow: 0 0 1px #b53788;
     cursor: pointer;
}

#tracking{
    font-size: 12px;
    color: #b53788;
    font-weight: bold;
}

#tracking:hover{
    text-shadow: 0 0 1px #b53788;
    cursor: pointer;
}

.nav ul {
    list-style: none;
    background: #623381;
    text-align: center;
    padding: 0%;
    margin: 0;
}

.nav li {
    display: inline-block;
}

.nav a {
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    width: 100px;
    display: block;
    padding: 10px;
    font-size: 14px;
    font-weight: 540;
}

.nav a:hover {
    background: white;
    text-decoration: underline;
    color: #623381;
    transition: 0.2s;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


body {
  font-family: 'Lato', sans-serif;
}

#productContainer {
  border-left: 1px solid #dfdfdf;
  height: auto;
  width: 67%;
  float: right;
  margin-right: 100px;
}
.frame {
  width: 98%;
  border-bottom: 1px solid #dfdfdf;
  height: 130px;
  display: flex;
  float: right;
  margin-right: 0px;
}

.frame .brand-name {
  width: 40%;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.frame .brand-name p {
  margin: auto;
}

.frame .image-button {
  width: 20%;
  display: flex;
  flex-direction: column;
}

.frame .image-button * {
  margin: auto;
  margin-bottom: 5px;
  height: auto;
  margin-top: 10px;
}

.frame .image-button p {
  margin-top: 0px;
  text-align: center;
  font-size: 10px;
  color: #662d91;
}

.frame .image-button button {
  background-color: #f37021;
  border-radius: 5px;
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.18);
  border: #f37021;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  height: 30px;
  width: 80%;
  margin-top: 5px;
}

.frame .discount-container {
  width: 10%;
}

.frame .price-container {
  width: 20%;
}

.frame .price-container .price {
  vertical-align: middle;
  color: #fff;
  font-size: 22px;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 5px;
  font-weight: 900;
}

.frame .price-container .off {
  color: #ff0;
  font-weight: 700;
  text-align: center;
  font-size: 12px;
  margin-top: 5px;
}

.frame img {
  height: 75px;
  width: 35%;
  margin-top: 8px;
}

.frame .price-container {
  background-image: url(https://a.cdnsbn.com/images/common/oitem_bg.gif);
}

.discount-container .discount {
  height: 50px;
  width: 50px;
  font-size: 15px;
  font-weight: 700;
  color: white;
  background: linear-gradient(to bottom, #662d91 30%, #e2195b 100%);
  text-align: center;
  border-radius: 100px;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.18);
}

.discount-container p {
  font-size: 10px;
  color: #727373;
  margin-top: 35px;
}

.button-container button {
  font-size: 10px;
  font-weight: 900;
  width: 58px;
  background-color: #00a69c;
  border-radius: 5px;
  border: #00a69c;
  color: white;
  padding: 2px 1px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.13);
  margin-left: 30%;
  margin-top: 80%;
}

.scrollSection {
  float: left;
  width: 25%;
  margin-top: 5px;
}

.scrollSection .filter {
  margin-left: 70px;
  max-height: 260px;
  overflow-y: scroll;
  overflow: auto;
  margin-right: 10px;
  border: 1px solid;
  border-bottom: 3px solid #eee;
  border-right: 0;
  padding-left: 8px;
  margin-bottom: 20px;
}

.scrollSection .filter .checkbox {
  display: block;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.015em;
  margin-bottom: 10px;
}

.scrollSection .filter-heading {
  margin-left: 100px;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 6px;
}

#heading {
  height: 26px;
  background: linear-gradient(to right, #623381 30%, #c62f7a 100%);
  width: 100%;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  padding-left: 10px;
  padding-top: 5px;
  letter-spacing: 0.015em;
  margin-bottom: 15px;
  margin-left: 15px;
}

#glyphicon {
  border: solid #521b76;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-bottom: 4px;
  margin-left: 15px;
}

.dropbtn {
  background-color: #fff;
  border: 1px solid #521b76;
  color: #521b76;
  padding: 5px 2px;
  font-size: 12px;
  width: 200px;
  height: 35px;
  border-radius: 3px;
}
#btnContainer {
  height: 80px;
  width: 100%;
  border-top: 2px solid grey;
  padding-top: 25px;
  margin-left: 15px;
}

#btnContainer > a {
  letter-spacing: 0.03em;
  font-size: 11px;
  color: #662d91;
}
.dropdown {
  position: relative;
  display: inline-block;
  float: right;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #521b76;
  border-radius: 3px;
  color: #521b76;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #521b76;
  margin: 0 0 15px;
  padding: 0;
  text-decoration: none;
  display: block;
  font-size: 14px;
  margin-top: 15px;
  margin-left: 10px;
}

.dropdown-content a:hover {
  background-color: #fff;
  color: #ef1275;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#grid {
  width: 100%;
  height: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(2, 2fr);
  margin-left: 15px;
  background-color: #70378d;
}

#grid > a {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: white;
}

#grid > a:hover {
  color: #e1185b;
}

#topBrands > p {
  width: 100%;
  height: 30px;
  text-align: center;
  padding-top: 5px;
  font-size: 18px;
  background-color: #52246d;
  color: white;
  margin-left: 15px;
  margin-bottom: 0px;
}

#topImage > img {
  margin-left: 24%;
}


body{
    margin:0px !important;
}

.logo{
    display: flex;
    margin-top: 22px;
}
.log{
    height: 25px;
    width:25px;  
}
.img-bottle {
    width: 75px;
    height: 95px;
    background: url('https://a.cdnsbn.com/images/common/2016CommonSprite.png') -89px -381px no-repeat;
    position: absolute;
    left: 43.5%;
    margin-top: 12px;
    
}

.banner-bottle {
    float:left;
    padding-left: 120px;
    font-size: 18px;
    line-height: 1em;
}
.banner-bottle, .banner-plane {
    font-weight: 300;
    margin-top: 20px;
    margin-left:50px;
}
.img-plane {
    width: 84px;
    height: 91px;
    background: url('https://a.cdnsbn.com/images/English/shippingicon_1.png') -10px -5px no-repeat;
    position: absolute;
    left: 71%;
    margin-top: -20px;
    
    
}
.cont{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap:20px;
    color: white;
    background: url(https://a.cdnsbn.com/images/common/2016footer.jpg) center top no-repeat #702f80;
    color: #fff;
    padding: 32px 0;
    margin-top: 50px;
    letter-spacing: .09em;
    font-size: 14px;
    font-family: Lato,sans-serif;
}
    .cont h5 {
    font-size: 24px;
    margin: 5px 0 25px;
}

.first{
    margin-left: 8%;
}
.second{
    margin-left: 15%;
}
.third{
    margin-left: 21%;
    margin-top: 15px;
    font-weight: 300;
    
}
#subscribe{
    letter-spacing: .09em;
    font-size: 14px;
    font-family: Lato,sans-serif;
    
    color: #fff;
    height: 50px;
    padding: 0 10px;
    line-height: 50px;
    font-weight: 700;
}

#signup{
    height: 50px;
    font-size: 16px;
}

ul{
    list-style: none;
    display: flex;
    font-size: 28px;
}
ul.footer-cs-shortcut li+li {
    border-left: 1px solid #ee2c72;
    padding-left: 20px;
}
ul.footer-cs-shortcut li {
    
    padding-right: 20px;
}
li a{
    text-decoration: none;
}
.change-currency-icon {
    width: 27px;
    height: 27px;
    background: url('https://a.cdnsbn.com/images/common/2016CommonSprite.png') -325px -478px no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.part1-child2{
    margin-left: 29%;
    margin-top: 2%;
    font-size: 22px;
     font-family: Lato,sans-serif;
}
.part1{
    display: flex;
    
   
    color: rgb(0, 0, 0);
}
.payment-imgs h6{
    margin: 0 0 15px;
    padding: 0;
    font-size: 23px;
    letter-spacing: .09em;
}
.part2-class1{
    width: 17%;
    line-height: 2.3em;
    
}
.imagep2{
    margin: 2%; 
}
.part2-class2{
    line-height: 2.3em;
    margin-left: 2%;
    margin-right: 2%;
}
.part2-class3{
    line-height: 2.3em;
    margin-left: 2%;
    margin-right: 2%;
}
.part2-class4{
    line-height: 2.3em;
    margin-left: 2%;
    margin-right: 2%;
}
.part2-class5{
    line-height: 2.3em;
    margin-left: 2%;
    margin-right: 2%;
}
.iphoneapp {
    background: url('https://a.cdnsbn.com/images/common/2016CommonSprite.png') -133px -595px;
}
.androidapp {
    background: url('https://a.cdnsbn.com/images/common/2016CommonSprite.png') -235px -597px;
}
 .iphoneapp {
    width: 1px;
    padding-top: 40px;
    padding-left: 100px;
    margin-left: -2px;
    margin-bottom: -15px;
    text-indent: -9999px;
    line-height: 0;
    font-size: 0;
    color: transparent;
}
.androidapp {
    width: 1px;
    padding-top: 40px;
    padding-left: 100px;
    margin-left: -2px;
    margin-bottom: -15px;
    text-indent: -9999px;
    line-height: 0;
    font-size: 0;
    color: transparent;
}
.part2{
    display: flex;
    justify-content: center;
}
hr.pink {
    border-color: #ee2c72;
    border-width: 5px;
    margin: 30px 0;
    width: 82%;
}
.light{
    font-weight: 300;
    font-size: 11px;
}
.last{
    margin-left: 12%;
}
.cont2{
    background-color: #52246d;
    color: #fff;
    padding: 30px 0;
}
.whit{
    color: white;
}

.inputEmail{
    height:25px;
    border-radius:5px;
}
#social-media-links{
    margin-top:20px;
}
.social-media-icon{
    width: 31px;
    height:31px;
    padding-top: 51px;
    vertical-align: middle;
    margin-right: 20px;
    text-indent: -9999px;
    line-height: 0;
    font-size: 0;
    color: transparent;
    
    text-decoration: none;
    display: inline-block;
    padding: 0px 0px 0px 0px;

    
    box-sizing: border-box;
}

.btnFacebook, .btnFacebook:link {
    background: url(https://a.cdnsbn.com/images/common/2016CommonSprite.png) -36px -478px no-repeat;
}

.btnTwitter, .btnTwitter:link {
    background: url(https://a.cdnsbn.com/images/common/2016CommonSprite.png) -213px -478px no-repeat;
}

.btnPinterest, .btnPinterest:link {
    background: url(https://a.cdnsbn.com/images/common/2016CommonSprite.png) -107px -478px no-repeat;
}

.btnInstagram, .btnInstagram:link {
    background: url(https://a.cdnsbn.com/images/common/2016CommonSprite.png) -142px -478px no-repeat;
}

.btnYoutube, .btnYoutube:link {
    background: url(https://a.cdnsbn.com/images/common/2016CommonSprite.png) -153px -112px no-repeat;
}